@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Cairo', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
